<h1>Listing listings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Created By</th>
      <% if user_signed_in? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image.url(:thumb) %></td>
        <td><%= link_to listing.name, listing, class: "btn btn-link" %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td>
          <% if listing.user!=nil %>
            <%= listing.user.name %>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <td>
            <% if listing.user==current_user %>
              <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
              <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
