<li class="<%=cp(seller_path)%><%=cp(new_listing_path)%>"><%=link_to "My Listings", seller_path%></li>
<li class="<%=cp(sales_path)%>"><%=link_to "Sales History", sales_path%></li>
<li class="<%=cp(purchases_path)%>"><%=link_to "Purchase History", purchases_path%></li>
<li class="<%=cp(accounts_path)%><%=cp(new_account_path)%>"><%=link_to "My Seller Accounts", accounts_path%></li>
